<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- TailwindCSS -->
 <script src="https://cdn.tailwindcss.com"></script>

 <title>{{title | default: "Blog"}}Document</title>
</head>
<!-- <style>
 @layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}

</style> -->

<body>

<div class="text-center">
  <h1 class="font-bold text-6xl">ホステル日記</h1>
  <p class="font-light text-base">オークランド、シドニー、チェンマイ編</p>
</div>

<div class="w-full h-12 text-center bg-blue-500 text-white">

</div>








{{ content }}
</body>
</html>